fastapi
uvicorn
python-multipart
cryptography==42.0.5
torch
torchvision
matplotlib
seaborn
scikit-learn
pillow
tqdm
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary # 추가
SQLAlchemy      # 추가
gunicorn        # Procfile에서 gunicorn 사용 시 필수
